@media (min-width: 767px){
  /* General configs */
  .container {
    margin: 1rem;
  }
  
  .button {
    width: 6rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
  }
  
  /* header */
  header h1.logo{
    margin: 0;
  } 
  
  header.container {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  
  header nav ul.flex {
    justify-content: space-between;
    width: 24rem;
  }
  
  /* Section main */
  section#main img{
    width: 65%;
  }
  
  /* Footer section*/
  footer {
    padding: 0.3rem;
  }
  
  footer section.container{
    margin: 1rem 1rem 0;
  }
  
  footer section.container h1.logo{
    align-self: center;
    text-align: unset;
    margin: 0;
  }
  
  footer section.container header{
    width: 25%;
  }

  footer section.container header p{
    text-align: unset; 
  }
  
  footer section.container #about, #contact, #social-medias {
    width: 20%;
  }
  
  footer section.container{
    display: flex;
    justify-content: space-evenly;
  }
  
  footer #contact p{
    margin: 0.5rem 0;
  }
  
  footer i.fab{
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

@media (min-width: 960px){
  /* General configs */
  .container {
    margin: 2rem;
  }

  .button {
    width: 8rem;
  }

  main.container {
    margin: 4rem;
  }

  /* Section main */
  section#main {
    margin-top: 7rem;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    text-align: unset;
    padding: 0;
  }
  
  section#main div#info{
    height: 20rem;
    width: auto;
    align-self: center;
  }
  
  section#main div#info h3{
    margin-bottom: 4.1rem;
  }

  section#main div#info span#subtitle{
    font-size: 2.9rem;
    font-weight: 500;
    margin: 0.2rem 0;
  }

  section#main div#info .button{
    display: inline-block;
    margin: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  section#main img{
    width: 35%;
    margin: 0;
  }

  /* Section services */

  section#services {
    margin-top: 15rem;
  }

  section#services #services-itens img{
    width: 35%;
  }

  section#services #services-itens.flex{
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  section#services div#itens-contact{
    margin-top: 12rem;
  }

  section#services ul{
    width: 50%;
  }

  section#services ul li{
    margin: 1rem 0;
  }

  section#services #contact-number.flex{
    display: block;
    margin-top: 3.5rem;
  }

  section#services #contact-number label{
    display: block;
  }
  
  section#services #contact-number a.button{
    box-sizing: border-box;
    display: inline-block;
    width: 13rem;
    padding: 0.8rem;
  }

  section#services #number-input{
    box-sizing: border-box;
    display: inline-block;
    width: 13rem;
    padding: 1rem;
  }  

  /* Section testimonials */
  section#testimonials {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 11rem;
  }

  section#testimonials .cards{
    width: 45%;
  }
}