/* General configs */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body a{
  text-decoration: none;
  color: black;
  transform: translateY(-2px);
}

.container {
  margin: 1rem;
}

.red{
  color:#D6000D;
}

.logo {
  margin: 2.3rem 0 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  background-color: #D6000D;
  
  display: block;
  width: 4rem;
  padding: 0.625rem;
  border-radius: 0.3rem;
  color: white;
  font-weight: 500;
  text-align: center;
  
  transition: 500ms;
}

.button:hover{
  background-color:#c72732;
  transform: translateY(-2px);
}

/* Nav section */

nav ul.flex {
  list-style: none;
  justify-content: space-around;
  font-family: 'Roboto';
}

nav ul li a:hover{
  color: rgb(75, 69, 69);
}

h1.logo{
  font-style: italic;
}

/*-- Main Section --*/

section#main{
  text-align: center;
  padding: 3rem 0;
}

section#main img{
  display: block;
  width: 80%;
  margin: 0 auto;
}

section#main h3{
  margin: 3rem 0 2rem;
}

section#main #subtitle{
  font-size: 2rem;
  display: block;
}

section#main .button{
  display: block;
  box-sizing: border-box;
  width: 15rem;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 1rem;
}

/* Contact section */
section#services {
  margin: 5rem 0;
}

section#services #services-itens.flex{
  flex-direction: column;
}

section#services img{
  width: 50%;
}

section#services ul{
  margin-bottom: 1rem;
}

section#services ul li{
  list-style: none;
  margin: 0.3rem 0 1.75rem;
}

i.fa-check-circle{
  color: #D6000D;
  margin-right: 0.8rem;
}

section#services #contact-number.flex{
  flex-direction: column;
}

section#services #number-input{
  margin: 1rem 0 0.7rem;
  background-color: rgb(223, 217, 217);
  box-sizing: border-box;
  width: 12rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.7rem;
}

section#services .button{
  width: 12rem;
  padding: 1rem;
  border-radius: 0.7rem;
  font-weight: 700;
}

/* Testimonials section */

section#testimonials .cards{
  justify-content: space-evenly;
  background-color: rgb(223, 217, 217);
  margin: 2.5rem 0;
  height: auto;
  padding: 1.5rem 0 1rem;
  border-radius: 1rem;
}

section#testimonials .photo-user{
  align-self: baseline;
  width: 4.2rem;
  height: 4rem;
  background-color: #D6000D;
  border-radius: 50%;
}

section#testimonials div.testimonial{
  width: 60%;
  height: auto;
}

section#testimonials div.testimonial p.nome{
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

section#testimonials .empresa{
  font-size: 1rem;
  font-weight: 500;
}

/* Footer section */

footer{
  background-color: black;
  color: white;
  padding: 0.5rem 0rem 1rem;
}

footer section.container{
  margin: 2rem 2.3rem 0;
}

footer header{
  margin: 2rem 0;
}

footer header h1.logo{
  margin: 0 0.1rem;
}

footer header p{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}

footer section.container a{
  color: white;
  text-decoration: underline;
}

footer section.container p{
  font-weight: 400;
}

footer section.container h3{
  font-size: 1.4rem;
  font-weight: 500;
}

footer section.container #about h3, #contact h3, #social-medias h3{
  margin: 0.6rem 0;
}

footer #contact, #about, #social-medias{
  margin: 1.3rem 0;
}

footer #contact p{
  margin: 1rem 0;
}

i.fab{
  color: #D6000D;
  font-size: 2.2rem;
  margin-right: 1.5rem;
}
