* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body a{
  text-decoration: none;
  color: black;
  transform: translateY(-2px);
}

.container {
  margin: 1rem;
}

.red{
  color:#D6000D;
}

.logo {
  margin: 2.3rem 0 1.5rem;
  font: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2.5rem;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul.flex {
  list-style: none;
  justify-content: space-around;
  font-family: 'Roboto';
}

nav ul li a:hover{
  color: rgb(75, 69, 69);
  transform: translateY(-2rem);
}

.button{
  background-color: #D6000D;

  display: block;
  width: 4rem;
  padding: 0.625rem;
  border-radius: 0.3rem;
  color: white;
  font-weight: 700;
  text-align: center;

  transition: 500ms;
}

.button:hover{
  background-color:#db505a;
  transform: translateY(-2px);
}

/*-- Main Section --*/

section#main{
  text-align: center;
  padding: 3rem 0;
}

section#main img{
  width: 80%;
  display: block;
  margin: 0 auto;
}

section#main h3{
  margin: 3rem 0 2rem;
}

section#main #subtitle{
  display: block;
  font-size: 2rem;
}

section#main .button{
  display: block;
  box-sizing: border-box;
  width: 15rem;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 1rem;
}

/* Contact section */
section#contact {
  margin-bottom: 5rem;
}
section#contact.flex{
  flex-direction: column;
}

section#contact img{
  margin: 2rem;
  width: 60%;
}

section#contact ul li{
  list-style: none;
  margin: 1rem 0;
}

section#contact #contact-number.flex{
  flex-direction: column;
}

section#contact #number-input{
  margin: 1rem 0 0.7rem;
  background-color: rgb(223, 217, 217);
  box-sizing: border-box;
  width: 12rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.7rem;
}

section#contact .button{
  width: 12rem;
  padding: 1rem;
  border-radius: 0.7rem;
}

/* Testimonails section */

section#testimonials .cards{
  justify-content: space-evenly;
  background-color: rgb(223, 217, 217);
  margin: 2.5rem 0;
  height: auto;
  padding: 0.8rem;
  border-radius: 1rem;
}

section#testimonials .photo-user{
  width: 5rem;
  height: 5rem;
  background-color: #D6000D;
  border-radius: 50%;
}

section#testimonials .nome{
  font-size: 1.5rem;
  margin-top: 1rem;
}

section#testimonials .empresa{
  font-size: 1rem;
  font-weight: 500;
}

section#testimonials .testimonial{
  width: 50%;
}

/* Footer section */

footer{
  background-color: black;
  color: white;
  padding: 0.5rem 0rem 2rem;
}

footer header .logo{
  margin: 0;
}

footer header p{
  text-align: center;
}

footer h3{
  margin-top: 1.5rem;
}